.responsive-video {
	padding: 10px;
	background: #000;
	width: 100%;
	height: 30em;
}
.visibility {
	float: left;
	width: 50%;
}

.view {
	vertical-align: middle;
}

span {
	font-weight: 600;
    font-size: 16px;
}

.like {
	float: right;
	width: 50%;
	text-align: right;
}

textarea#textarea1 {
    padding: 10px 0;
}

.card {
    width: 100%;
    height: 200px;
}

.btn-comment {
	float: left;
	width: 100%;
}

.btn-floating {
	float: right;
}